# Formatting tuned to keep the converted sources looking like the C# originals:
# Allman braces, 4 space indent, namespaces indented.
---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 140
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 2
Standard: c++20
TabWidth: 4
UseTab: Never

IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^"OrionEngine/'
    Priority: 3
  - Regex: '^<'
    Priority: 2
  - Regex: '.*'
    Priority: 1
